@import '~bpk-mixins';

.Intro {
  &__row {
    text-align: center;
    padding-top: $bpk-spacing-base;
    padding-right: $bpk-spacing-xl;
    padding-right: $bpk-spacing-xl;
    user-select: none;
  }

  &__line {
    background-image: $bpk-primary-gradient;
    margin: auto;
    display: block;
    height: 1px;
    width: 150px;
    margin-top: $bpk-spacing-sm;
    margin-bottom: $bpk-spacing-sm;
  }

  &__contact {
    padding-bottom: 3px;
  }
}
