@import "~bpk-mixins";

.Contact {
  &__visible {
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: opacity 300ms ease-out 0s, transform 300ms ease 0s;
  }
  &__invisible {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  &__row {
    width: 95%;
    margin: auto;
    padding: $bpk-spacing-sm;
    border-radius: $bpk-border-radius-sm;
    text-align: center;
    box-shadow: $bpk-box-shadow-xl;
    user-select: none;
  }

  &__reachOut {
    margin-top: $bpk-spacing-md;
  }

  &__options {
    margin-top: $bpk-spacing-md;
  }

  &__optionBox {
    cursor: pointer;
  }

  &__optionBox:hover {
    transform: translate3d(0, 0, 0);
    border-radius: $bpk-border-radius-sm;
    box-shadow: $bpk-box-shadow-xl;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    backface-visibility: hidden;
    perspective: 1000px;
  }

  &__logo {
    width: 80px;
    height: 80px;
  }

  &__link {
    font-size: $bpk-text-sm-font-size;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  @include bpk-breakpoint-mobile {
    &__prompt {
      font-size: $bpk-text-base-font-size;
    }
  }
}
