@import '~bpk-mixins';

.Heading {
  &__row {
      text-align: left;
      padding: $bpk-spacing-md;
      user-select: none;
  }
  &__icon {
    fill: rgba(82, 76, 97, 0.9);
    margin-right: $bpk-spacing-sm;
    margin-bottom: -3px;
  }
}
