@import '~bpk-mixins';

.CareerEvent {
  &__banner {
    height: 200px;
    box-shadow: $bpk-box-shadow-xl;
    border-radius: $bpk-border-radius-sm;
  }
  &__content {
    margin: auto;
    margin-top: -50px;
    width: 95%;
    background: white;
    box-shadow: $bpk-box-shadow-xl;
    border-radius: $bpk-border-radius-sm;
    padding-left: $bpk-spacing-xl;
    padding-right: $bpk-spacing-xl;
  }

  &__textArea {
    text-align: left;
    padding: $bpk-spacing-lg;
  }

  &__description {
    text-indent: -1.3rem;
  }

  &__org {
    text-align: left;
  }
  &__role {
    text-align: center;
  }
  &__time {
    text-align: right;
  }

  @include bpk-breakpoint-mobile {
    &__org {
      text-align: center;
    }
    &__role {
      text-align: center;
      font-size: $bpk-text-base-font-size
    }
    &__time {
      text-align: center;
      font-size: $bpk-text-sm-font-size
    }
    &__textArea {
      padding: 0;
    }
  }
}
