@import '~bpk-mixins';

.NavBar {
  &__bar {
    position: sticky;
    top: 0;
    z-index: 100;
    border-radius: $bpk-border-radius-pill;
    background: $bpk-color-gray-100;
    text-align: center;
    box-shadow: $bpk-box-shadow-xl;
    cursor: pointer;
    user-select: none;

    @include bpk-breakpoint-above-mobile {
      margin: $bpk-spacing-lg;
    }
  }

  &__bar > div {
    display: inline;
  }

  &__selected {
    border-radius: $bpk-border-radius-pill;
    background: white;
  }

  &__unselected:hover {
    margin: 0;
    border: solid 1px white;
    border-radius: $bpk-border-radius-pill;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__icon {
    margin: 0 $bpk-spacing-xs 0 $bpk-spacing-xs;
    fill: rgb(82, 76, 97);
  }
}
