@import "~bpk-mixins";

.TravelMapFallback {
  &__container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background: url(https://benicek.s3.eu-central-1.amazonaws.com/homepage/map_background.png) center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: $bpk-spacing-base;
  }

  &__blurb {
    text-align: left;
    width: 70%;
    max-width: 800px;
    padding: $bpk-spacing-xl;
    background: $bpk-color-white;
    border-radius: $bpk-border-radius-sm;
    box-shadow: $bpk-box-shadow-xl;

    @include bpk-breakpoint-mobile {
        width: 100%;
    }
  }

  &__blurb > p {
    @include bpk-breakpoint-mobile {
        font-size: 15px;
        line-height: 30px;
    }
  }
  
  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    @include bpk-breakpoint-above-mobile {
        // width: 400px;
        // margin: auto;
        // margin-top: $bpk-spacing-xxl;
    }

    @include bpk-breakpoint-mobile {
      // margin-top: $bpk-spacing-base;
    }
  }

  &__myMap {
    margin-top: $bpk-spacing-sm;
  }

  &__button > path {
    fill: $bpk-color-blue-500;
  }
}
