@import '~bpk-mixins';

.Event {
  &__row {
    margin: $bpk-spacing-md;
  }
  &__banner {
    background: linear-gradient(45deg, rgba(191,117,135,0.639) 0%, rgba(214,255,255,0.631) 100%), url('https://www.s-ge.com/sites/default/files/cserver/styles/sge_header_lg/streamy/company/images/Hongkong-Fotolia-48687313-rabbit75-fot-282451.jpg?itok=ANpJxrgW') center;;
    background-size: cover;
    height: 200px;
    box-shadow: $bpk-box-shadow-xl;
  }
  &__content {
    height: 400px;
    margin: auto;
    margin-top: -50px;
    width: 95%;
    background: white;
    box-shadow: $bpk-box-shadow-xl;
    border-radius: $bpk-border-radius-sm;
  }
  &__textArea {
    text-align: left;
    margin-top: $bpk-spacing-md;
    padding: $bpk-spacing-xl;
  }

}
