@import "~bpk-mixins";

.Profile {
  &__row {
    text-align: left;
    user-select: none;
  }

  &__line {
    display: block;
    width: 150px;
    height: 1px;
    left: 0;
    margin-top: $bpk-spacing-sm;
    margin-bottom: $bpk-spacing-sm;
    background-image: $bpk-primary-gradient;
  }

  &__employmentAsterix {
    display: inline;
  }

  &__info {
    width: 1rem !important;
    height: 1rem !important;
    margin-left: $bpk-spacing-xs;
    fill: $bpk-color-gray-700;
  }
}
