@import '~bpk-mixins';

.NavBar {
  &__bar {
    cursor: pointer;
    background: $bpk-color-gray-100;
    box-shadow: $bpk-box-shadow-xl;
    border-radius: $bpk-border-radius-pill;
    @include bpk-breakpoint-above-mobile { 
      margin: $bpk-spacing-lg;
    }
  }
  &__barAttached {
    margin: auto;
    top: 0px;
    position: sticky;
  }
  &__bar > div {
    display: inline;
  }
  &__selected {
    background: white;
    border-radius: $bpk-border-radius-pill;
  }

  &__unselected:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0px;
    border: solid 1px white;
    border-radius: $bpk-border-radius-pill;
  }

  &__icon {
    margin: 0 $bpk-spacing-xs	0 $bpk-spacing-xs;
  }
}
