@import '~bpk-mixins';

.Heading {
  &__row {
    padding: $bpk-spacing-md;
    text-align: left;
    user-select: none;
  }

  &__icon {
    margin-right: $bpk-spacing-sm;
    margin-bottom: -3px;
    fill: rgba(82, 76, 97, .9);
  }
}
