@import "~bpk-mixins";

.Heading {
  &__visible {
    opacity: 1;
    transform: translateX(0px) translateY(0px) translateZ(0px);
    transition: opacity 300ms ease-out 0s, transform 300ms ease 0s;
  }
  &__invisible {
    opacity: 0;
    -webkit-transform: translate(50px, 0);
    -ms-transform: translate(50px, 0);
    transform: translate(50px, 0);
  }
  &__row {
    padding: $bpk-spacing-md;
    text-align: left;
    user-select: none;
  }

  &__icon {
    margin-right: $bpk-spacing-sm;
    margin-bottom: -3px;
    fill: rgba(82, 76, 97, 0.9);
  }
}
