@import '~bpk-mixins';

.Toggle {
  &__row {
    padding-top: 0 !important;
    padding-bottom: $bpk-spacing-base;
  }

  &__option {
    display: inline-block;
    padding: $bpk-spacing-xs;
    transition: all .1s ease-in-out;
    border: 1px solid rgba(178, 174, 189, .3);
    background-color: $bpk-color-gray-100;
    text-align: center;
    box-shadow: none;
  }

  &__option:hover {
    cursor: pointer;
  }

  &__option:first-of-type {
    border-radius: $bpk-border-radius-pill 0 0 $bpk-border-radius-pill;
  }

  &__option:last-of-type {
    border-radius: 0 $bpk-border-radius-pill $bpk-border-radius-pill 0;
  }

  &__selected {
    background-color: $bpk-color-white;
    box-shadow: 0 4px 14px 0px rgba(127, 215, 232, .5);
  }
}