@import '~bpk-mixins';

.CareerEvent {

  @include bpk-breakpoint-mobile {
    &__org {
      text-align: center;
    }

    &__role {
      font-size: $bpk-text-base-font-size;
      text-align: center;
    }

    &__time {
      font-size: $bpk-text-sm-font-size;
      text-align: center;
    }

    &__textArea {
      padding: 0;
    }
  }
  &__banner {
    height: 200px;
    border-radius: $bpk-border-radius-sm;
    box-shadow: $bpk-box-shadow-xl;
  }

  &__content {
    width: 95%;
    margin: auto;
    margin-top: -50px;
    padding-right: $bpk-spacing-xl;
    padding-left: $bpk-spacing-xl;
    border-radius: $bpk-border-radius-sm;
    background: white;
    box-shadow: $bpk-box-shadow-xl;
  }

  &__textArea {
    padding: $bpk-spacing-lg;
    text-align: left;
  }

  &__description {
    text-indent: -1.3rem;
  }

  &__org {
    text-align: left;
  }

  &__role {
    text-align: center;
  }

  &__time {
    text-align: right;
  }
}
