@import "~bpk-mixins";

.Footer {
  @include bpk-breakpoint-above-mobile {
    &__visible {
      opacity: 1;
      transform: translateX(0px) translateY(0px) translateZ(0px);
      transition: opacity 300ms ease-out 0s, transform 300ms ease 0s;
    }
    &__invisible {
      opacity: 0;
      -webkit-transform: translate(50px, 0);
      -ms-transform: translate(50px, 0);
      transform: translate(50px, 0);
    }
  }
  &__row {
    margin-top: $bpk-spacing-lg;
    margin-bottom: $bpk-spacing-lg;
    text-align: center;
  }

  &__buttonUp {
    display: inline-flex;
    margin-top: $bpk-spacing-md;
  }

  &__credits {
    margin-top: $bpk-spacing-md;
  }
  &__makerAd {
    margin-top: $bpk-spacing-md;
    padding-top: $bpk-spacing-md;
    border-top: solid 10px $bpk-color-gray-500;
  }
}
