@import '~bpk-mixins';

.Footer {
  &__row {
    margin-top: $bpk-spacing-lg;
    margin-bottom: $bpk-spacing-lg;
    text-align: center;
  }

  &__buttonUp {
    display: inline-flex;
    margin-top: $bpk-spacing-md;
  }

  &__credits {
    margin-top: $bpk-spacing-md;
  }
  &__makerAd {
    margin-top: $bpk-spacing-md;
    padding-top: $bpk-spacing-md;
    border-top: solid 10px $bpk-color-gray-500;    
  }
}
