@import '~bpk-mixins';

.Contact {
  &__row {
    box-shadow: $bpk-box-shadow-xl;
    width: 95%;
    border-radius: $bpk-border-radius-sm;
    margin: auto;
    padding: $bpk-spacing-sm;
  }
  &__reachOut {
    margin-top: $bpk-spacing-md;
  }
  &__options {
    margin-top: $bpk-spacing-md;
  }
  &__optionBox {
    cursor: pointer;
  }
  &__optionBox:hover {
    box-shadow: $bpk-box-shadow-xl;
    border-radius: $bpk-border-radius-sm;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  &__logo {
    width: 80px;
    height: 80px;
  }
  &__link {
    font-size: $bpk-text-sm-font-size
  }
  @include bpk-breakpoint-mobile {
    &__prompt {
      font-size: $bpk-text-base-font-size
    }
  }
}
