@import '~bpk-mixins';

.Skills {
  &__row {
    user-select: none;
  }

  &__title {
    padding: $bpk-spacing-md;
    text-align: left;
  }

  &__skill {
    height: auto;
    padding: $bpk-spacing-md;
    border-radius: $bpk-border-radius-sm;
    background: white;
    text-align: left;
    box-shadow: $bpk-box-shadow-xl;
  }

  &__hiddenBar {
    width: 0 !important;
  }

  &__bar {
    height: 25px;
    padding-right: 5px;
    transition: width 500ms ease-out;
    background: linear-gradient(45deg, rgba(0, 178, 214, .5), 0, rgba(0, 140, 168, .3) 100%);
    color: $bpk-color-gray-700;
    font-size: 10px;
    text-align: right;
  }
}

