@import '~bpk-mixins';

.Skills {
  &__title {
    text-align: left;
    padding: $bpk-spacing-md;
  }
  &__skill {
    background: white;
    height: auto;
    box-shadow: $bpk-box-shadow-xl;
    border-radius: $bpk-border-radius-sm;
    text-align: left;
    padding: $bpk-spacing-md;
  }
  &__hiddenBar {
    width: 0 !important;
  }
  &__bar {
    height: 25px;
    text-align: right;
    padding-right: 5px;
    color: $bpk-color-gray-700;
    font-size: 10px;
    background: linear-gradient(45deg,rgba(0, 178, 214, 0.5), 0, rgba(0, 140, 168, 0.3) 100%);
    transition: width 500ms ease-out;
  }
}

