@import "~bpk-mixins";

.TravelMap {
  &__container {
    text-align: center;
  }

  &__map {
      width: 100%;
      height: 500px;
      @include bpk-breakpoint-mobile {
        height: 350px;
      }
  }
  &__legend {
    text-align: center;
    &__item {
      display: inline-block;
      margin-left: $bpk-spacing-xxl;
      margin-top: $bpk-spacing-base;
      text-align: left;
      min-width: 300px;
    }
    &__title {
      top: -7px;
      right: -10px;
      position: relative;
    }
  }
  &__button {
    margin-top: $bpk-spacing-xxl;
    margin-bottom: $bpk-spacing-lg;
    @include bpk-breakpoint-mobile {
      margin-top: $bpk-spacing-lg;
    }
  }

  &__button > path {
    fill: $bpk-color-blue-500;
  }

  &__tooltip {
    display: none;
    background: $bpk-color-white;
    border-radius: $bpk-border-radius-sm;
    padding: $bpk-spacing-xs;
    z-index: 1001;
    box-shadow: $bpk-box-shadow-xl;
    user-select: none;
    pointer-events: none;
  }

  &__pie {
    max-width: 300px;
    margin: auto;
    margin-top: $bpk-spacing-base; 
  }
}
