@import "~bpk-mixins";

.Projects {
  &__row {
    overflow: hidden;
  }

  &__carousel {
    text-align: center;
  }

  &__container {
    padding-bottom: 30px;
  }

  &__tile {
    min-width: 250px;
    text-decoration: none;
    color: inherit;
    text-align: left;
    padding: $bpk-spacing-lg;
  }

  &__title {
    padding: $bpk-spacing-md;
    text-align: left;
  }

  &__card {
    height: 150px;
    margin: $bpk-spacing-md;
    padding: $bpk-spacing-md;
    border-radius: $bpk-border-radius-sm;
    text-align: left;
    box-shadow: $bpk-box-shadow-lg;
    cursor: pointer;
  }

  &__card:hover {
    box-shadow: $bpk-box-shadow-xl;
  }

  &__logo {
    max-width: 100px;
    max-height: 100px;
    margin-top: $bpk-spacing-md;
    border-radius: $bpk-border-radius-sm;
  }

  &__detailRow {
    margin-top: $bpk-spacing-base;
  }

  &__checkItOut {
    float: right;
    margin-top: $bpk-spacing-lg;
  }

  &__row {
    margin-top: $bpk-spacing-lg;
  }

  @include bpk-breakpoint-mobile {
    &__card {
      height: 240px;
    }

    &__work {
      margin-top: $bpk-spacing-lg;
    }

    &__row__logo {
      display: none;
    }
  }

  &__chip {
    margin-right: $bpk-spacing-xs;
  }

}
