@import '~bpk-mixins';

.Projects {

  @include bpk-breakpoint-mobile {
    &__card {
      height: 240px;
    }

    &__work {
      margin-top: $bpk-spacing-lg;
    }
  }
  &__title {
    padding: $bpk-spacing-md;
    text-align: left;
  }

  &__card {
    height: 150px;
    margin: $bpk-spacing-md;
    padding: $bpk-spacing-md;
    border-radius: $bpk-border-radius-sm;
    text-align: left;
    box-shadow: $bpk-box-shadow-lg;
    cursor: pointer;
  }

  &__card:hover {
    box-shadow: $bpk-box-shadow-xl;
  }

  &__logo {
    max-width: 100px;
    max-height: 100px;
    margin-top: $bpk-spacing-md;
    border-radius: $bpk-border-radius-sm;
  }

  &__detailRow {
    margin-top: $bpk-spacing-base;
  }
}
