@import '~bpk-mixins';

@mixin container {
  max-width: $bpk-breakpoint-desktop;
  margin: 0 auto;
}

.TruthOrDrink {
  text-align: center;

  &__header {
    padding: $bpk-spacing-lg * 2;
    // background-color: $bpk-color-blue-500;
    // background-image: $bpk-primary-gradient;
    color: $bpk-color-white;

    @include bpk-box-shadow-sm;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-xl;
    }
  }

  &__category {
    &__container{
      display: flex;
      justify-content: space-around;
      margin-bottom: $bpk-spacing-lg;
      @include bpk-breakpoint-mobile {
        flex-wrap: wrap;
      }
    }
    &__card {
      width: 20%;
      @include bpk-breakpoint-mobile {
        width: 100%;
        margin-bottom: $bpk-spacing-sm;
      }
    }

    &__subtitle {
      @include bpk-breakpoint-mobile {
        display: none;
      }
    }
  }

  &__header-inner {
    @include container;
  }

  &__main {
    padding: $bpk-spacing-xxl;

    @include container;

    @include bpk-breakpoint-mobile {
      padding: $bpk-spacing-base;
    }
  }

  &__heading {
    margin-bottom: $bpk-spacing-sm;
  }

  &__text {
    margin-bottom: $bpk-spacing-sm;
  }

  &__info {
    text-align: left;
    width: 75%;
    margin: auto;
  }
}
